@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
  }

  .box-grid {
    display: grid;
    grid-template-columns: repeat(8, 2fr); /* 8 columns */
    grid-gap: 1px 5px; /* Adjust the gap between boxes as needed (1px for vertical, 5px for horizontal) */
  }
  
  .box {
    width: 80px; /* Adjust the width of each box */
    height: 20px; /* Adjust the height of each box */
    background-color: #ccc; /* Background color of the box */
    border: 1px solid #333; /* Border around the box */
  }
  