@tailwind base;
@tailwind components;
@tailwind utilities;



  .box-grid {
    display: grid;
    grid-template-columns: repeat(8, 2fr); /* 8 columns */
    grid-gap: 1px 5px; /* Adjust the gap between boxes as needed (1px for vertical, 5px for horizontal) */
  }
  
  .box {
    width: 80px; /* Adjust the width of each box */
    height: 20px; /* Adjust the height of each box */
    background-color: #ccc; /* Background color of the box */
    border: 1px solid #333; /* Border around the box */
  }


  .slide-in {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

  